<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        routerLink="employees"
        routrtLinkActive="active"
        class="nav-link"
        href="#"
        >Employee List</a
      >
    </li>
    <li class="nav-item">
        <a
          routerLink="create-employee"
          routrtLinkActive="active"
          class="nav-link"
          href="#"
          >Add Employee </a
        >
      </li>
  </ul>
</nav>

<h1 class="text-center">{{ title }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span class="material-icons"> language </span>
    <p><span>All rights reserved 2020</span></p>
  </div>
</footer>
